.zone{
    width: 150px;
    height: 150px;
}
table td {
	border: 1px solid;
	empty-cells: show;
	height:150px;
	width:150px;
    align-items: center;
    justify-content: center;
}

fieldset{
    border: 2px white;
}
img{
    padding:1px;
    width:100%;
    height: 100%;
}
body {
	background-color:white;
	color:gray;
    font-family: Tahoma,"Trebuchet MS",sans-serif;
    font-size: 15px;
}

a {
    color: #CCCCCC;
    text-decoration: none;
}
a:after{
    color:green;
    text-decoration: underline;
}
a:hover{
    color: greenyellow;
    text-decoration: underline;
    text-transform: uppercase;
}


.niveau_choisi {
    color:green;
    font-weight: bold;
    text-decoration: underline;
}

.ligne {
	display: inline;
}